absl-py==2.0.0
accelerate==0.28.0
aiohttp==3.9.1
aioprometheus==23.3.0
aiosignal==1.3.1
antlr4-python3-runtime==4.9.3
anyio==3.7.1
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.1.0
backoff==2.2.1
beautifulsoup4==4.12.2
bibtexparser==1.4.2
bitsandbytes==0.41.3.post2
blis==0.7.11
cachetools==5.3.3
catalogue==2.0.10
certifi==2023.11.17
cffi==1.17.1
charset-normalizer==3.3.2
clean-text==0.6.0
click==8.0.4
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.1
# confection==0.1.4
contourpy==1.2.0
cryptography==43.0.1
cycler==0.12.1
cymem==2.0.8
Cython==3.0.8
dataclasses==0.6
dataclasses-json==0.6.3
datasets==2.15.0
debugpy==1.8.1
decorator==5.1.1
# deepspeed==0.12.5
dill
editdistance==0.6.2
einops==0.7.0
emoji==1.7.0
evaluate==0.4.1
exceptiongroup==1.2.0
executing==2.0.1
filelock==3.13.1
flash-attn==2.2.2
flatbuffers==23.5.26
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2023.10.0
ftfy==6.1.3
fuzzywuzzy==0.18.0
gdown==4.7.1
google-auth==2.25.2
google-auth-oauthlib==1.2.0
GPUtil==1.4.0
grpcio==1.60.0
h11==0.14.0
hjson==3.1.0
httptools==0.6.1
huggingface-hub==0.20.1
humanfriendly==10.0
idna==3.6
importlib-metadata==7.0.0
importlib_resources==6.1.2
ipykernel==6.29.2
ipython==8.18.1
jedi==0.19.1
Jinja2==3.1.2
joblib==1.3.2
jsonlines==4.0.0
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
langcodes==3.3.0
latexcodec==3.0.0
Levenshtein==0.25.0
lightgbm==4.3.0
lightning-utilities==0.10.0
llvmlite==0.42.0
lxml==4.9.4
Markdown==3.5.1
MarkupSafe==2.1.3
marshmallow==3.20.2
matplotlib==3.8.3
matplotlib-inline==0.1.6
mauve-text==0.3.0
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
ninja==1.11.1.1
nltk==3.8.1
nmslib==2.1.1
numba==0.59.1
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.161
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
nvitop==1.3.2
oauthlib==3.2.2
omegaconf==2.3.0
onnxruntime==1.17.0
opt-einsum==3.3.0
orjson==3.9.10
packaging==23.2
pandas==2.1.4
parso==0.8.3
pathlib_abc==0.1.1
pathy==0.11.0
pdfplumber==0.11.4
peft==0.10.0
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.2.0
plotly==5.20.0
portalocker==2.8.2
pox==0.3.4
ppft==1.7.6.8
preshed==3.0.9
protobuf==3.20.1
psutil==5.9.8
ptyprocess==0.7.0
PuLP==2.8.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==14.0.2
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.6.1
pybtex==0.24.0
pycparser==2.22
# pydantic==1.8.2
pyDeprecate==0.3.2
Pygments==2.17.2
pyjnius==1.6.1
pylatexenc==2.10
pynvml==11.5.0
pyparsing==3.1.1
pypdfium2==4.30.0
pyserini==0.22.1
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-Levenshtein==0.25.0
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
quantile-python==1.1
rank-bm25==0.2.2
rapidfuzz==3.6.2
ray==2.8.1
rebiber==1.1.3
referencing==0.32.0
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
responses==0.18.0
rouge-score==0.1.2
rpds-py==0.15.2
rsa==4.9
sacrebleu==2.4.0
safetensors==0.4.1
scikit-dimension==0.3.4
scikit-learn==1.3.2
scipy==1.11.4
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.4.0
sniffio==1.3.0
soupsieve==2.5
srsly==2.4.8
stack-data==0.6.3
stanza==1.8.0
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.4.0
# thinc==8.0.17
threadpoolctl==3.2.0
tiktoken==0.5.2
timeout-decorator==0.5.0
tokenizers==0.15.2
toml==0.10.2
tqdm==4.66.1
traitlets==5.14.1
transformers==4.39.0
triton==2.1.0
tsv==1.2
typer==0.4.2
typing-inspect==0.8.0
typing_extensions==4.5.0
tzdata==2023.3
Unidecode==1.3.8
urllib3==2.1.0
uvicorn==0.24.0.post1
uvloop==0.19.0
vllm==0.2.6
wasabi==0.10.1
watchfiles==0.21.0
wcwidth==0.2.12
weasel==0.3.4
websockets==12.0
Werkzeug==3.0.1
xformers==0.0.23.post1
xgboost==2.0.3
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
